<div class="Nav">
    <div class="Menu">
        <a href="">Dashboard</a>
        <a href="">Management</a>
        <a href="">Department</a>
        <a href="">Attendance</a>
        <a href="">Payroll</a>
        <a href="">Appraisal</a>
    </div>
</div>