body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 100vh;
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* ------- box 1 ------- */
/* Container */
.Container {
    display: flex;
    height: 100vh;
}

/* Nav */
.Nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15%;
    background-color: #1e293b;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Nav .Menu a {
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
}

.Nav .Menu a:hover {
    background-color: #334155;
}

.Nav .Menu a.active {
    background-color: #2d4363;
    font-weight: bold;
}

/* Detail */
.Detail {
    margin-left: 17.5%; 
    width: 100%;
    background-color: #f1f5f9;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Box1, .Box2, .Box3 {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Box 1 */
.Box1 {
    background-color: #f5f1a0;
}

/* Box 2 */
.Box2 {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

/* TopRow */
.TopRow, .TopRow2 {
    display: flex;
    gap: 20px;
}

.TopSalary, .TopPosition, .TopOT, .TopBonus {
    background-color: #f8fafc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

/* TopSalry */
.TopSalary {
    width: 35%;
}

.TopSalary h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #1e3a8a;
}

.TopSalary .header-row,
.TopSalary .data-row {
    display: flex;
    justify-content: space-between;
}

.TopSalary .header-row h4 {
    font-weight: 700;
    font-size: 15px;
    color: #334155;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TopSalary .data-row p {
    margin: 0;
    font-size: 14px;
    color: #475569;
    width: 50%;
    padding: 5px 0px;
}

.TopSalary .data-row p:first-child {
    text-align: left;
}

.TopSalary .data-row p:last-child {
    text-align: right;
}

/* TopPosition */
.TopPosition {
    width: 65%;
}

.TopPosition h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #1e3a8a;
}

.TopPosition .header-row,
.TopPosition .data-row {
    display: flex;
    justify-content: space-between;
}

.TopPosition .header-row h4 {
    flex: 1;
    font-weight: 700;
    font-size: 15px;
    color: #334155;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TopPosition .header-row h4:first {
    text-align: left;
}

.TopPosition .header-row h4:nth-child(2) {
    text-align: center;
}

.TopPosition .header-row h4:last-child {
    text-align: right;
}

.TopPosition .data-row p {
    margin: 0;
    font-size: 14px;
    color: #475569;
    width: 50%;
    padding: 5px 0px;
}

.TopPosition .data-row p:first-child {
    text-align: left;
}

.TopPosition .data-row p:nth-child(2) {
    text-align: center;
}

.TopPosition .data-row p:last-child {
    text-align: right;
}

/* TopOT */
.TopOT {
    width: 50%;
}

.TopOT h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #1e3a8a;
}

.TopOT .header-row,
.TopOT .data-row {
    display: flex;
    justify-content: space-between;
}

.TopOT .header-row h4 {
    flex: 1;
    font-weight: 700;
    font-size: 15px;
    color: #334155;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TopOT .header-row h4:first {
    text-align: left;
}

.TopOT .header-row h4:nth-child(2) {
    text-align: center;
}

.TopOT .header-row h4:last-child {
    text-align: right;
}

.TopOT .data-row p {
    margin: 0;
    font-size: 14px;
    color: #475569;
    width: 50%;
    padding: 5px 0px;
}

.TopOT .data-row p:first-child {
    text-align: left;
}

.TopOT .data-row p:nth-child(2) {
    text-align: center;
}

.TopOT .data-row p:last-child {
    text-align: right;
}

/* TopBonus */
.TopBonus {
    width: 55%;
}

.TopBonus h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #1e3a8a;
}

.TopBonus .header-row,
.TopBonus .data-row {
    display: flex;
    justify-content: space-between;
}

.TopBonus .header-row h4 {
    flex: 1;
    font-weight: 700;
    font-size: 15px;
    color: #334155;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TopBonus .header-row h4:first {
    text-align: left;
}

.TopBonus .header-row h4:nth-child(2) {
    text-align: center;
}

.TopBonus .header-row h4:last-child {
    text-align: right;
}

.TopBonus .data-row p {
    margin: 0;
    font-size: 14px;
    color: #475569;
    width: 50%;
    padding: 5px 0px;
}

.TopBonus .data-row p:first-child {
    text-align: left;
}

.TopBonus .data-row p:nth-child(2) {
    text-align: center;
}

.TopBonus .data-row p:last-child {
    text-align: right;
}

/* Box 3 */
.Box3 {
    background-color: #faffff;
}

.Box3 h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #1e3a8a;
}

.Box3 .header-row,
.Box3 .data-row {
    display: flex;
    justify-content: space-between;
}

.Box3 .header-row h4 {
    flex: 1;
    font-weight: 700;
    font-size: 15px;
    color: #334155;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Box3 .header-row h4:first {
    text-align: left;
}

.Box3 .header-row h4:nth-child(2) {
    text-align: center;
}

.Box3 .header-row h4:last-child {
    text-align: right;
}

.Box3 .data-row p {
    margin: 0;
    font-size: 14px;
    color: #475569;
    width: 50%;
    padding: 5px 0px;
}

.Box3 .data-row p:first-child {
    text-align: left;
    display: flex;
    align-items: center; 
}

.Box3 .data-row p:nth-child(2) {
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.Box3 .data-row p:last-child {
    text-align: right;
}

.Box3 .data-row a {
    text-decoration: none;  
    color: #ffffff; 
    background-color: #1e3a8a;
    padding: 6px 12px;  
    border-radius: 6px;  
    font-size: 14px;
    display: inline-flex; 
    align-items: center;
    gap: 5px;   
    transition: background-color 0.3s ease;
}

.Box3 .data-row a:hover {
    background-color: #334155;
}

.Box3 .header-row {
    border-bottom: 1px solid #ccc;
}

.Box3 .data-row {
    border-bottom: 1px solid #cccccc75;
}

.Box3 .Additional {
    margin-top: 25px;
    margin-bottom: 5px;
}

.Box4 {
    border: 1px solid rgba(255, 0, 0, 0);
}