body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    height: 100vh;
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #333;

    display: flex;
    align-items: center;
    flex-direction: column;
}

/* box 1 */
/* PersonalInfo */
.PersonalInfo {
    border: 2px solid rgb(0, 0, 0);
    padding: 50px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    margin-top: 50px; 
}

.PersonalInfo h1 {
    text-align: center;
}

/* Alert */
.Alert {
    border: 2px solid rgb(199, 199, 199);
    text-align: center;
    border-radius: 10px;
    background-color: rgb(239, 238, 238);
}

/* PersonalInfo NameThai */
.PersonalInfo_NameThai {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: -10px;
}

.PersonalInfo_NameThai .Firstname,
.PersonalInfo_NameThai .Lastname {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.PersonalInfo_NameThai p {
    margin-bottom: 10px;
}

.PersonalInfo_NameThai input {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.PersonalInfo_NameThai span {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PersonalInfo NameEng */
.PersonalInfo_NameEng {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: -10px;
}

.PersonalInfo_NameEng .Firstname,
.PersonalInfo_NameEng .Lastname {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.PersonalInfo_NameEng p {
    margin-bottom: 10px;
}

.PersonalInfo_NameEng input {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.PersonalInfo_NameEng span {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PersonalInfo Birthday */
.PersonalInfo_Birthday p {
    margin-bottom: 10px;
}

.PersonalInfo_Birthday input { 
    width: 32%;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.PersonalInfo_Birthday span {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PersonalInfo Address */
.PersonalInfo_Address p {
    margin-bottom: 10px;
}

.PersonalInfo_Address input { 
    width: 100%;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.PersonalInfo_Address span {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PersonalInfo Email */
.PersonalInfo_Email p {
    margin-bottom: 10px;
}

.PersonalInfo_Email input { 
    width: 50%;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.PersonalInfo_Email span {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PersonalInfo Number */
.PersonalInfo_Number p {
    margin-bottom: 10px;
}

.PersonalInfo_Number input { 
    width: 50%;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.PersonalInfo_Number span {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PersonalInfo Position */
.PersonalInfo_Position p {
    margin-bottom: 10px;
}

.PersonalInfo_Position select { 
    width: 50%;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.PersonalInfo_Position span {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PersonalInfo confirm */
.PersonalInfo_Confirm {
    text-align: center;
    margin-top: 30px;
}

.PersonalInfo_Confirm button {
    background-color: #007BFF;
    color: white;  
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.PersonalInfo_Confirm button:hover {
    background-color: #0056b3;  
    transform: scale(1.05);
}

.PersonalInfo_Confirm button:active {
    transform: scale(0.97); 
}

/* box 2 */
/* footer */
footer {
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0);
}